* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #E2FDFF;
    font-family: "Roboto", sans-serif;
}

.jcfe {
    display: flex;
    justify-content: flex-end;
}

#login {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

#log_Form {
    padding: 47px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 610px;
    height: auto;
    background-color: #5465FF;
    border-radius: 20px;
}

h1 {
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 48px;
}

.block-buttons {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 25px;
}

.block {
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

input:focus {
    outline: none;
    border: none;
}

p {
    font-size: 24px;
    color: #ffffff;
}

a {
    text-decoration: none;
}

input {
    padding: 20px;
    height: 24px;
    max-width: 430px;
    background-color: #BFD7FF;
    color: #1B0051;
    font: 24px "Roboto", sans-serif;
    font-weight: 700;
    border: none;
    border-radius: 18px;
}

.header-input {
    margin-bottom: 2%;
}

.input-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.password {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.alignment-block {
    padding: 10px 20px;
    min-width: 50px;
    max-width: 160px;
    height: auto;
    background-color: #788BFF;
    border: none;
    border-radius: 10px;
    font-size: 24px;
    color: #ffffff;
}

.alignment-block:hover {
    background-color: #1B0051;
}

.register {
    font-size: 24px;
    color: white;
}

/* js код */

#loginError,
#passwordError {
    margin-top: 5%;
    color: red;
    display: none;
}

@media screen and (min-width : 320px) and (max-width : 480px) {

    #login {
        margin: 0 10%;
        margin-top: 100px;
        display: flex;
        justify-content: center;
    }

    #log_Form {
        padding: 47px 10%;
        display: flex;
        width: 90%;
        flex-direction: column;
        height: auto;
        background-color: #5465FF;
        border-radius: 10px;
    }

    .header-input {
        font-size: 18px;
    }

    .register {
        font-size: 16px;
    }
}

@media screen and (min-width : 481px) and (max-width : 768px) {
    #login {
        margin: 0 5%;
        margin-top: 100px;
        display: flex;
        justify-content: center;
    }

    #log_Form {
        padding: 47px 10%;
        display: flex;
        width: 100%;
        flex-direction: column;
        height: auto;
        background-color: #5465FF;
        border-radius: 10px;
    }
}