* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #E2FDFF;
    font-family: "Roboto", sans-serif;
}

#login {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

#log_Form {
    padding: 47px;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 600px;
    background-color: #5465FF;
    border-radius: 20px;
}

h1 {
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 48px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.block {
    margin-top: 75px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input:focus {
    outline: none;
    border: none;
}

p {
    font-size: 24px;
    color: #ffffff;
}

input {
    margin-bottom: 7px;
    padding: 20px;
    width: 360px;
    height: 24px;
    background-color: #BFD7FF;
    color: #1B0051;
    font: 24px "Roboto", sans-serif;
    font-weight: 700;
    border: none;
    border-radius: 18px;
}

.bt-back,
.bt-register,
.bt-login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 17px;
    width: 380px;
    height: 64px;
    background-color: #788BFF;
    border: none;
    border-radius: 18px;
    font-size: 24px;
    color: #ffffff;
    text-decoration: none;
}

.bt-back {
    width: 194px;
}

.bt-login {
    margin-bottom: 23px;
    width: 194px;
}

/* js код */

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

input:invalid {
    border-color: red;
}

input:valid {
    border-color: green;
}